html {
	--defaultGap: 20px;
}

.FlexGap {
	--gap: var(--defaultGap);
	--gap-v: var(--gap);
	--gap-h: var(--gap);
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.FlexGap[data-flex-gap-support='true'] {
	gap: var(--gap-v) var(--gap-h);
}

.FlexGap[data-nested-children='true'] > * > * {
	height: 100%;
}

.FlexGap[data-grow='true'] > * {
	flex-grow: 1;
}

.FlexGap[data-wrap='true'] {
	flex-wrap: wrap;
}

/* Polyfill is needed for Safari (last browser not supporting flex-gap) */
.FlexGap[data-flex-gap-support='false'] {
	--negativeGap-v: calc(-1 * var(--gap-v));
	--negativeGap-h: calc(-1 * var(--gap-h));
	margin: var(--negativeGap-v) var(--negativeGap-h);
	padding: var(--gap-v) 0 0 var(--gap-h);
}
.FlexGap[data-flex-gap-support='false'] > * {
	border: 0 solid transparent;
	border-width: 0 var(--gap-h) var(--gap-v) 0;
	background-clip: padding-box;
}

/* Prevents margin from causing weird spacing issues */
.FlexGap__polyfillWrapper {
	padding-bottom: 0.1px;
}
